
<ion-content padding id="page13" style="background:url(assets/imgs/back.jpg) no-repeat center;background-size:cover;" >
  <form *ngIf="hidethisform" [formGroup]="formgroup" id="register-form3" #registrationForm="ngForm" (ngSubmit)="OnGetTenants(MobileNo.value)">
    <!-- <form id="register-form3" #registrationForm="ngForm" (ngSubmit)="OnSubmit(MobileNo.value)"> -->
      <div class="spacer" style="width:300px;height:217px;" id="register-spacer10"></div>
      <h5 id="register-heading1" style="color:#DEE1EE;">
        Enter mobile number to search your bank
      </h5>
    <ion-list id="register-list11">
      <ion-item id="register-input8">
        <ion-label>
          Phone Number
        </ion-label>
        <ion-input formControlName="mobilenum" type="text" #MobileNo ngModel name="MobileNo" placeholder=""></ion-input>
        <!-- <ion-input type="number" placeholder="" name="MobileNo" #MobileNo="ngModel" [(ngModel)]="order.Id"></ion-input> -->
      </ion-item>
      <ion-item *ngIf="mobilenum.hasError('required') && mobilenum.touched">
        <p style="color:red;"> *MobileNumber is required</p>
      </ion-item>
    </ion-list>
    <button [disabled]="registrationForm.invalid" id="register-button7" ion-button color="positive" block>
      Search Bank
    </button>

  </form>

  <!-- <ion-list *ngFor="let order of tenantList" (click)="OnRequestOTP(order.Id)">
      <ion-item>
        <ion-thumbnail item-start>
          <img src={{order.IconHtml}}>
          <img [src]="order.IconHtml">
        </ion-thumbnail>
        <h2>{{ order.Name | json }}</h2>
        <h3>{{ order.Address }}</h3>
      </ion-item>
    </ion-list> -->
    <div *ngIf="tenantList">
    <p style="color: #fff">Click on Account of your wish</p>  
  </div>
    <ion-list >
    <ion-item *ngFor="let order of tenantList" (click)="OnRequestOTP(order.Id)">
      <h3>Bank Name: {{ order.Name | json }}</h3>
      
      <h4>Branch : {{ order.Address }}</h4>
    </ion-item>
  </ion-list>

  <!-- <div *ngFor="let i of items">
    <span *ngFor="let j of i">
        {{j}}
    </span>
</div> -->
</ion-content>


