<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mini Statement {{ActiveBankName}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9" >
  <span style="color: blue" *ngIf="HideMsg">Click on Account of your wish</span>  
  <div  *ngIf="ShowHide">   
    <div *ngFor="let order of SelfCareAcsBasedOnTenantID" (click)="OnGetMiniStatement(order.AcHeadId,order.AcSubId)" style="background-color:#eee;border: 1px solid lightgrey; padding: 15px; margin: 5px 0;">
      <span>Name: {{order.HeadName}}</span> 
      <br/>
      <span>Account No: {{order.AcNo}}</span> 
  </div> 
    </div>
      <div *ngIf="balance">
  <div class="spacer" style="width:300px;height:21px;" id="miniStatement-spacer3"></div>
  <ion-list id="miniStatement-list9">
     <ion-item color="none" id="miniStatement-list-item42">
      Account Balance :{{balance.Amount}}
    </ion-item>
  </ion-list>
  <div class="spacer" style="width:300px;height:21px;" id="miniStatement-spacer4"></div>
  
  <ion-card id="miniStatement-card22">
      <ion-list id="miniStatement-list10">
          <ion-item-divider color="light">
            Statement
          </ion-item-divider>
        </ion-list>
      <ion-list *ngFor="let order of statementItem" >
      <ion-item color="none" id="miniStatement-list-item46">
        {{order.Dt|date:'fullDate'}}
      </ion-item>
      <ion-item color="assertive" id="miniStatement-list-item47">
        Credited : {{order.Dr}}
      </ion-item>
      <ion-item id="miniStatement-list-item-container6">
        <div id="miniStatement-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Remark: {{order.Remark}}
          </p>
        </div>
         </ion-item>
    </ion-list>
  </ion-card>
</div>
</ion-content>