<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Select Operator
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding id="page13">
    <form [formGroup]="formgroup" id="register-form3" #selectoperatorForm="ngForm" (ngSubmit)="OnSubmit(Operator.value)">     
       <ion-list id="register-list11">
        <ion-item id="register-input8">
          <ion-label>
            Select Operator
          </ion-label>
          <!-- <ion-input formControlName="selectoperator" type="text" #Operator ngModel name="Operator" placeholder=""></ion-input> -->
          <!-- <ion-auto-complete [dataProvider]="completeTestService"></ion-auto-complete> -->
          <!-- <ion-searchbar [(ngModel)]="OSResponseOld"
          [showCancelButton]="shouldShowCancel">
        </ion-searchbar> -->
        <ion-select  formControlName="selectoperator" #gender ngModel name="gender" interface="popover">
          <ion-option value="f">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
        
        <!-- <ion-select  formControlName="selectoperator" #OSResponseNew ngModel name="OSResponseNew" interface="popover">
          <ion-option *ngFor="let order of OSResponseNew">{{order.Operator}}</ion-option>
          <ion-option *ngFor="let order of OSResponseNew" [value]="order.Id">{{order.Operator}}</ion-option>
        </ion-select> -->
        </ion-item>
        <!-- <ion-item *ngIf="mobilenum.hasError('required') && mobilenum.touched">
          <p style="color:red;"> *MobileNumber is required</p>
        </ion-item> -->
      </ion-list>   
      <button [disabled]="selectoperatorForm.invalid"  id="register-button7" ion-button color="positive" block>
        Search Operator
      </button> 
    </form>
    <br/><br/>
    <!-- <div class="row" *ngIf="OSResponseNew"> -->
        <div style="background-color:red" class="col s12 m7">
            <div class="card">
              <div class="card-content">
            <h2 style="text-align:center">
              Favourite Operators
            </h2>
              </div>
            </div>
                </div>
        <div class="col s12 m7">
          <div class="card">
              <!--interpolation-->
            <div class="card-content">     
            <div *ngFor="let order of OSResponseNew" (click)="OnPress()" style="border: 1px solid lightgrey; padding: 15px; margin: 5px 0;">
            
            <span>Operator : {{ order.Operator | json }}</span> <br>
            <!-- <ion-item id="register-input9">
              <ion-label>
                Name
              </ion-label>
              <ion-input type="text" placeholder="" name="Name" #Name="ngModel" [(ngModel)]="order.Name"></ion-input>
            </ion-item> -->
            <span>Address : {{ order.Id }}</span> <br>
            <!-- <ion-item id="register-input9">
              <ion-label>
                Address
              </ion-label>
              <ion-input type="text" placeholder="" name="Address" #Address="ngModel" [(ngModel)]="order.Address"></ion-input>
            </ion-item> -->
          </div> 
      
            </div>       
          </div>
        </div>
        <!-- <button id="register-button8" ion-button color="positive" type="button" (click)="OnPress()" block>
          Request OTP
        </button> -->
      <!-- </div> -->
    

    <ion-item>
      <ion-label>Pets</ion-label>
      <ion-select [(ngModel)]="pets" interface="popover">
        <ion-option *ngFor="let order of OSResponseNew" [value]="order.Id">{{order.Operator}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-content>