<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Change Bank  {{ActiveBankName}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <div style="background-color:red" class="col s12 m7">
    <div class="card">
      <div class="card-content">
    <h2 style="text-align:center">
      My Banks
    </h2>
      </div>
    </div>
        </div>
        <ion-list>
              <ion-item *ngFor="let order of Tenants">
                  <ion-thumbnail item-start>
                      <img src="assets/imgs/thumbnail-totoro.png">
                    </ion-thumbnail>
                <h2>{{ order.Name }}</h2>
                <span>{{ order.Address }}</span>
          <div *ngIf="(order.Id!=Active)">
        <button ion-button clear item-end (click)="OnSelect(order)">Select</button>       
      </div>
          <div *ngIf="(order.Id==Active)">
        <!-- <ion-icon name='rose' item-end color="secondary"></ion-icon> -->
        <ion-icon name="heart" item-end color="danger"></ion-icon>
        
      </div>
      <button *ngIf="(order.Id!=Active)" ion-button (click)="OnRemove(order.Id)" item-end>Remove</button>
      </ion-item>
      </ion-list>

      <button  id="register-button7" ion-button color="positive" (click)="OnAddBank()" block>
        
        Add Bank Account
      </button>
      <div *ngIf="showHide">
        <form id="mobileRecharge-form2" (ngSubmit)="OnSubmit(MobileRecharegeform)" #MobileRechargeform="ngForm">
          <ion-item id="mobileRecharge-select1" *ngIf="Options">
            <ion-label>Select Your Bank</ion-label>
              <ion-select id="mobileRecharge-input3" interface="popover" name="OperatorId" #OperatorId="ngModel" [(ngModel)]="tenant.TenantId" (ionChange)="OnAddBankSelection(tenant.TenantId)">
                <ion-option *ngFor="let order of selectboxoptions" [value]="order.Id">
                  {{order.Name}}           
                </ion-option>              
            </ion-select> 
        </ion-item> 

        <ion-card *ngIf="NoOptions">              
          
            <h2>All banks added</h2>
          
        
        </ion-card>
         
      </form>
      </div>



<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>